# Git
.git
.gitignore

# Docker & CI/CD
docker-compose.yml
.github
.dockerignore

# Backend (Maven)
**/target/
**/*.jar
**/*.war

# Frontend (Node/Angular)
**/node_modules/
**/dist/
**/.angular/
**/npm-debug.log*

# IDEs & OS
.idea/
.vscode/
*.swp
*.DS_Store

# Secrets & Local Data
.env
postgres_data/
*.pem
*.key